.charsheet .logo
{
    float: right;
    background-image:url('http://shattered-rpg.com/images/roll20-logo.png');
    background-repeat: no-repeat;
    background-size: 350px 170px;
}
.dieCodeFirstCol
{
    float: right;
    border-width: 1px;
    border-style: solid;
    padding:2px;
}
.dieCodeCol
{
    float: right;
    border-right: solid 1px;
    border-bottom: solid 1px;
    border-top: solid 1px;
    padding 2px;
}

.infoBox
{
    float: right;
    border-width: 1px;
    border-style: solid;
}